.titleContainer {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.formLabel {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 2px;
    color: #1d1c1c;
}

.blogContainer {
    text-align: center;
}

.formInputText, .formInputTextarea {
    width: 900px;
    border-radius: 0px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 8px 0px #868585;
    padding: 10px;
    outline: none;
}

.formInputText {
    height: 35px;
}

.formInputTextarea {
    height: 450px;
}

.formDestContainer {
    text-align: center;
}

.fieldDiv {
    text-align: justify;
    margin-left: 105px;
    margin-top: 15px;
}

.cancelBtn {
    margin-top: 30px;
    background-color: white;
    border: 1px solid red;
    color: red;
    padding: 5px 30px;
    border-radius: 10px;
    transition: 0.3s;
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}

.cancelBtn:hover {
    background-color: red;
    color: white;
    transition: 0.3s;
}

.createBtn {
    margin-top: 30px;
    background-color: white;
    border: 1px solid green;
    color: green;
    padding: 5px 30px;
    border-radius: 10px;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}

.createBtn:hover {
    background-color: green;
    color: white;
    transition: 0.3s;
    font-weight: 500;
}