.imageVal {
    width: 450px;
}

.inputField {
    border-radius: 50px;
    border: 1px solid #FF725E;
    margin-bottom: 40px;
    padding: 10px 20px;
    outline: none;
    color: black;
    box-shadow: 0px 0px 6px 0px #FF725E;
    width: 350px;
}

::placeholder {
    color: #D7D7D7;
    opacity: 0.8;
}

.mainLoginInput::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif ;
}

.loginBtn {
    border: 1px solid #FF725E;
    border-radius: 50px;
    width: 150px;
    background-color: #FF725E;
    color: white;
    padding: 6px 20px;
    cursor: pointer;
    outline: none;
    margin-bottom: 40px;
}

.loginBtn:focus {
    outline: none;
}

.signUpField {
    color: #FFC100;
}

.signUpField:hover {
    color: #FFC100;
    text-decoration: none;
}

.loginTextUp {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.loginSubTextUp {
    font-size: 15px;
    margin-bottom: 40px;
}

.contentDiv {
    text-align: center;
    margin-top: 40px;
}

.loginForm {
    margin-top: 50px;
}

footer {
    margin-top: 50px ;
}